{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <p id="flash-message">{{ message }}</p>
{% endfor %}

<h2 id="welcome-header">Hi {{ user.name }} !</h2>

<h2 id="user-balance">User balance: {{ user.balance }}</h2>

<h2>Here are all available tickets</h2>
<div id="tickets">
    {% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.email }} {{ ticket.price }}</h4>
    </div>
    {% endfor %}
</div>

<form id="sell-form" action="/sell" method="post">
    <p>
    <h2>Sell Tickets</h2>
    <label for="sell-form-name">Name:</label>
    <input type="text" id="sell-form-name" name="name" for=><br>

    <label for="sell-form-quantity">Quantity:</label>
    <input type="text" id="sell-form-quantity" name="quantity"><br>

    <label for="sell-form-price">Price:</label>
    <input type="text" id="sell-form-price" name="price"><br>

    <label for="sell-form-expiration-date">Expiration Date:</label>
    <input type="text" id="sell-form-expiration-date" name="date"><br>

    <input type="submit" id="sell-form-submit">
    </p>
</form>

<form id="buy-form" action="/buy" method="post">
    <p>
    <h2>Buy Tickets</h2>
    <label for="buy-form-name">Name:</label>
    <input type="text" id="buy-form-name" name="name" for=><br>

    <label for="buy-form-quantity">Quantity:</label>
    <input type="text" id="buy-form-quantity" name="quantity"><br>

    <input type="submit" id="buy-form-submit">
    </p>
</form>

<form id="update-form" action="/update" method="post">
    <p>
    <h2>Update Tickets</h2>
    <label for="update-form-name">Name:</label>
    <input type="text" id="update-form-name" name="name" for=><br>

    <label for="update-form-quantity">Quantity:</label>
    <input type="text" id="update-form-quantity" name="quantity"><br>

    <label for="update-form-price">Price:</label>
    <input type="text" id="update-form-price" name="price"><br>

    <label for="update-form-expiration-date">Expiration Date:</label>
    <input type="text" id="update-form-expiration-date" name="date"><br>

    <input type="submit" id="update-form-submit">
    </p>
</form>

<a href='/logout' id="logout-link">logout</a>
{% endblock %}